<h1>Articles: </h1>

<table>
  <tr>
    <th><%= sort_link(@q, :title) %></th>
    <th>Text</th>
  </tr>
  <%= search_form_for @q, url: moderation_articles_path do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.submit %>
  <% end %>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
